<% include partials/header %>

	</head>

	<body>
		<div class="container">
			<h1>Search For a Movie</h1>

			<form action="/results" method="get">
				<input type="text" name="search" placeholder="search term" required="true">
				<input type="submit">
			</form>
		</div>
	</body>

	</html>